<h1> <%= @user.email %> </h1>

<p> Posts:</p>
<ul>
  <% if @user.posts.any? %>
    <% @user.posts.each do |post| %>
      <li><%= link_to post.name, post_path(post) %></li>
    <% end %>
  <% else %>
    <li>This user has no posts.</li>
  <% end %>
</ul>
