<% content_for(:title, "Skills | PORTFOLIO")  %>

<h1>Skills</h1>

<ul>
  <% @skills.each do |skill| %>
    <li>
      <%= link_to skill.name, skill_path(skill) %>
      <% if is_admin? %>
        <%= link_to edit_skill_path(skill) do %>
          <span class="glyphicon glyphicon-edit orange"></span>
        <% end %>
        <%= link_to skill_path(skill), data: {confirm: "Destroy Skill?", method: 'delete'} do %>
          <span class="glyphicon glyphicon-remove-sign red"></span>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
