<h1> References </h1>

<%= link_to "Show References", references_path, remote:true, class: "btn btn-info btn-block", id: "show_references_button" %>
<div id="reference_list">
</div>

<hr>

<%= link_to "Add Reference", new_reference_path, remote:true, class: "btn btn-success btn-block", id: "add_reference_button" %>
<div id="reference_form">
</div>
